:root{
  --blue:#1372ca;
  --orange:#ff7730;
  --primary: var(var(--orange))
}
.body{
  background-color: var(--primary);
}
.light{
  --primary: var(--orange)
}
.dark{

  --primary: var(--blue)
}

.StoreTitle{
  text-align: center;
  font-size: 60px;
}

.TitleBlock{
 border: 6px solid;
  background-color: var(--blue);
  margin-bottom: 20px;
}

.Cards{
  margin: 1rem , auto;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
  background-color: var(--primary);
  animation-name: poo;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.Card {
    width: 24%;
    height: 28%;
    background-color: rgba(25, 134, 177, 0.986);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2.5rem 0;
    flex-basis: 23%;
   
  }
  .snackimg{
    width: 50%;
    height: 60%;
  }



  .buttondiv{
    background-color: #17a6df;
    margin-bottom: 20px;
  }

  .Themes{
    margin-bottom: 20px;
    background-color: #30ff97;
  }